<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team1.mapper.user.UserMapper">
	
	<insert id="insert">
	
	INSERT INTO tb_user (id, pw, email, location, nickname, introduce, profileurl)
	VALUES (#{id}, #{pw}, #{email}, #{location}, #{nickname}, #{introduce}, #{profileurl})
	
	</insert>

	<select id="select" resultType="com.team1.domain.user.UserVO">
	SELECT id, pw, email, location, signupday, nickname, introduce
	FROM tb_user
	WHERE email = #{email}
	</select>
	
	<update id="update">
	UPDATE tb_user
	SET
		pw = #{pw},
		location = #{location},
		nickname = #{nickname},
		introduce = #{introduce},
		profileurl = #{profileurl}
	WHERE
		email = #{email}
	</update>
	
	<delete id="delete">
	DELETE FROM tb_user
	WHERE email = #{email}
	</delete>
	
	
	<select id="selectByNickName" resultType="com.team1.domain.user.UserVO">
	SELECT id, pw, email, location, signupday, nickname, introduce
	FROM tb_user
	WHERE nickname = #{nickname}
	</select>
</mapper>