<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team1.mapper.user.UserMapper">
	
	<insert id="insert">
	
	INSERT INTO tb_user (id, pw, email, location, nickname, introduce)
	VALUES (#{id}, #{pw}, #{email}, #{location}, #{nickname}, #{introduce})
	
	</insert>

	<select id="select" resultType="com.team1.domain.user.UserVO">
	SELECT id, pw, email, location, signupday, nickname, introduce, profileurl, withdrawal
	FROM tb_user
	WHERE email = #{email} and withdrawal = 'X'
	</select>
	
	<select id="readWithdrwal" resultType="com.team1.domain.user.UserVO">
	SELECT nickname, withdrawal
	FROM tb_user
	WHERE withdrawal = 'X' and nickname = #{nickname}
	</select>
	
	<update id="update">
	UPDATE tb_user
	SET
		pw = #{pw},
		location = #{location},
		nickname = #{nickname},
		introduce = #{introduce},
		profileurl = #{profileurl}
	WHERE
		email = #{email}
	</update>
	
	<update id="updateRemove">
	UPDATE tb_user
	SET
		withdrawal = 'O'
	WHERE
		email = #{email}
	</update>
	
	
	<select id="selectByNickName" resultType="com.team1.domain.user.UserVO">
	SELECT id, pw, email, location, nickname, introduce
	FROM tb_user
	WHERE withdrawal = 'X'AND nickname = #{nickname}
	GROUP BY nickname
	</select>
	
	<select id="selectByEmail" resultType="com.team1.domain.user.UserVO">
	SELECT id, pw, email, location, nickname, introduce
	FROM tb_user
	WHERE withdrawal = 'X'AND email = #{email}
	GROUP BY email
	</select>
	
	<select id="selectUserBoardHelp" resultType="com.team1.domain.user.UserVO">
	SELECT u.id, h.memberId, h.tag, h.title, h.inserted 
	FROM tb_user u JOIN tb_board_help h
    ON u.id = h.memberId
    WHERE u.id = #{u.id}
    ORDER BY h.inserted DESC;
	</select>
	
	
</mapper>