<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team1.mapper.board.HelpFileMapper">
	<delete id="deleteByBoardId">
		DELETE FROM tb_file_help WHERE postId = #{boardId}
	</delete>
	<delete id="delete">
		DELETE FROM tb_file_help WHERE postId = #{boardId} AND fileName = #{fileName}
	</delete>
	
	<insert id="insert">
		INSERT INTO tb_file_help (postId, fileName, url, isThumbnail) VALUES (#{boardId}, #{fileName}, 'http://example.com', 0)
	</insert>
	
	<select id="selectNamesByBoardId" resultType="string">
		SELECT fileName FROM tb_file_help WHERE postId =#{boardId}
	</select>
	
</mapper>