<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team1.mapper.board.LifeMapper">
  
  <select id="getListSearchByContent"
		resultType="com.team1.domain.board.LifeVO">
		SELECT
		l.id,
		l.title,
		l.content,
		l.inserted,
		l.updated,
		u.nickname,
		COUNT(r.id) replyCount
		FROM
		tb_board_life l
		JOIN
		tb_user u ON
		l.memberId = u.id
		LEFT JOIN
		tb_reply_life r ON l.id = r.boardId
		WHERE
		content like concat('%',#{search},'%' )
		GROUP BY l.id
		ORDER BY l.id DESC
	</select>
	
		<resultMap id="lifeResult"
		type="com.team1.domain.board.LifeVO">
		<result property="id" column="id" />
		<result property="memberId" column="memberId" />
		<result property="location" column="location" />
		<result property="up" column="up" />
		<result property="views" column="views" />
		<result property="title" column="title" />
		<result property="nickname" column="nickname" />
		<result property="content" column="content" />
		<result property="inserted" column="inserted" />
		<result property="updated" column="updated" />
		<result property="replyCount" column="replyCount" />

		<collection property="fileList" column="id"
			javaType="java.util.ArrayList"
			ofType="com.team1.domain.board.LifeFileVO"
			select="selectNamesByBoardId" />
	</resultMap>

	<select id="selectNamesByBoardId"
		resultType="com.team1.domain.board.LifeFileVO">
		SELECT id, postId, fileName, url, isThumbnail FROM
		tb_file_life WHERE postId =#{boardId}
	</select>

	<select id="getList" resultMap="lifeResult">
		SELECT
		p.id, p.memberId,
		p.location, (SELECT count(postId) FROM tb_board_life_up
		WHERE postId =
		p.id) up, p.views, p.tag,
		p.title, p.content, p.inserted, p.updated,
		m.nickname, COUNT(r.id) replyCount,
		(SELECT lu.userId FROM
		tb_board_life_up lu WHERE lu.userId =
		#{loginId} AND lu.postId=p.id)
		upposession
		FROM tb_board_life p
		JOIN tb_user m
		ON m.id = p.memberId
		LEFT
		JOIN tb_reply_life r
		ON p.id = r.boardId

		GROUP BY p.id
		Order By p.id
		DESC;
	</select>


	<select id="read" resultMap="lifeResult">
		SELECT
		p.id, p.memberId, p.location,
		(SELECT count(postId) FROM tb_board_life_up
		WHERE postId = p.id) up,
		p.views, p.tag,
		p.title, p.content, p.inserted, p.updated, m.nickname,
		COUNT(r.id) replyCount,
		(SELECT hu.userId FROM tb_board_life_up hu
		WHERE hu.userId =
		#{loginId} AND hu.postId=p.id) upposession
		FROM
		tb_board_life p
		JOIN tb_user m
		ON m.id = p.memberId
		LEFT JOIN
		tb_reply_life r
		ON p.id = r.boardId

		WHERE p.id = #{id}
	</select>

	<select id="getListByConditions" resultMap="lifeResult">
		SELECT
		p.id,
		p.memberId, p.location, (SELECT count(postId) FROM
		tb_board_life_up
		WHERE postId = p.id) up, p.views, p.tag,
		p.title,
		p.content,
		p.inserted, p.updated, m.nickname, COUNT(r.id) replyCount,
		(SELECT
		hu.userId FROM tb_board_life_up hu WHERE hu.userId =
		#{loginId}
		AND
		hu.postId=p.id) upposession
		FROM tb_board_life p
		JOIN tb_user m
		ON
		m.id =
		p.memberId
		LEFT JOIN tb_reply_life r
		ON p.id = r.boardId

	<where>
		<if test="query != null">
			AND p.content like concat('%',#{query},'%' )
		</if>

		<if test="location != null">
			AND p.location = #{location}
		</if>

		<if test="tag != null">
			AND p.tag = #{tag}
		</if>
	</where>

		GROUP BY p.id
		Order By p.id
		DESC;

	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id">
		INSERT INTO
		tb_board_life (memberId, location, tag, title,
		content)
		VALUES
		(#{memberId}, #{location},
		#{tag}, #{title}, #{content})
	</insert>

	<update id="update">
		UPDATE tb_board_life
		SET
		tag = #{tag},
		title = #{title},
		content = #{content},
		updated = NOW()
		WHERE id = #{id}
	</update>

	<delete id="delete">
		DELETE FROM tb_board_life WHERE id = #{id}
	</delete>

	<update id="upViews">
		UPDATE tb_board_life
		SET views = views +1
		WHERE id =
		#{id}
	</update>
	<select id="getFiles"
		resultType="com.team1.domain.board.LifeFileVO">
		SELECT id, postId, fileName, COUNT(postId) countpostId FROM
		tb_file_life GROUP BY postId;
	</select>
	<select id="getFilesById"
		resultType="com.team1.domain.board.LifeFileVO">
		SELECT id, postId, fileName, COUNT(postId) countpostId FROM
		tb_file_life WHERE postId=#{id} GROUP BY postId;
	</select>
	
	
</mapper>