<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team1.mapper.board.NewsFileMapper">
	<delete id="deleteByBoardId">
		DELETE FROM tb_file_news WHERE postId = #{boardId}
	</delete>
	<delete id="delete">
		DELETE FROM tb_file_news WHERE postId = #{boardId}
		AND fileName = #{fileName}
	</delete>

	<delete id="deleteByUrl">
		DELETE FROM tb_file_news WHERE url = #{url}
	</delete>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id">
		INSERT INTO tb_file_news (postId, fileName, url,
		isThumbnail) VALUES (#{postId}, #{fileName}, #{url}, #{isThumbnail})
	</insert>

	<select id="selectNamesByBoardId"
		resultType="com.team1.domain.board.NewsFileVO">
		SELECT id, postId, fileName, url, isThumbnail FROM
		tb_file_news WHERE postId =#{boardId}
	</select>

</mapper>