<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team1.mapper.board.PReplyMapper">
  
  <select id="getList" resultType="com.team1.domain.board.PReplyVO">
    SELECT ID, BoardId, Nickname, Reply, Inserted, Updated
    FROM PReply
    ORDER BY ID 
  </select>
  
  <insert id="insert">
	INSERT INTO
	PReply (BoardId, Nickname, Reply, Inserted, Updated)
	VALUES
	(#{BoardId}, #{Nickname}, #{Reply}, #{Inserted}, #{Updated})
  </insert>
  
  <update id="update">
	UPDATE PReply
	SET
	BoardId = #{BoardId}, 
	Reply = #{Reply},
	Updated = #{Updated}
	WHERE ID = #{ID}
  </update>
  
  <delete id="delete">
	DELETE FROM PReply WHERE ID = #{ID}
  </delete>
  
  
  
  
  
  
  </mapper>