<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team1.mapper.board.PReplyMapper">
  
  <select id="list" resultType="com.team1.domain.board.PReplyVO">
    SELECT id, boardId, nickname, reply, inserted, updated
    FROM tb_reply
    ORDER BY id
  </select>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	INSERT INTO
	tb_reply (boardId, nickname, reply, inserted, updated)
	VALUES
	(#{boardId}, #{nickname}, #{reply}, #{inserted}, #{updated})
  </insert>
  
  <update id="update">
	UPDATE tb_reply
	SET
	boardId = #{boardId}, 
	reply = #{reply},
	updated = NOW(),
	WHERE id = #{id}
  </update>
  
  <delete id="delete">
	DELETE FROM tb_user WHERE id = #{id}
  </delete>
  
  <select id="selectById" resultType="com.team1.domain.board.PReplyVO">
	SELECT id, boardId, nickname, reply, inserted, updated
	FROM tb_reply
	WHERE id = #{id}
  </select>
  
  <select id="listReplyCount" resultType="Integer">
	SELECT
	count(id)
	FROM tb_reply
	WHERE boardId=#{id}
</select>
  
  
  
  
  </mapper>