<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.team1.mapper.board.ReportMapper">

	<select id="getList"
		resultType="com.team1.domain.board.ReportVO">
		SELECT
		id, boardName, boardUrl, title, content, nickname, 
		reason, reasonDetail, inserted, 
		helpId, lifeId, newsId, questionId
		FROM
		tb_report
		ORDER BY id DESC
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id">
		INSERT INTO
		tb_report 
		(boardName, boardUrl, content, nickname, 
		reason, reasonDetail, 
		helpId, lifeId, newsId, questionId, title)
		VALUES
		(#{boardName}, #{boardUrl}, #{content}, #{nickname}, 
		#{reason}, #{reasonDetail}, 
		#{helpId}, #{lifeId}, #{newsId}, #{questionId}, #{title})
	</insert>

	<delete id="delete">
		DELETE FROM tb_report WHERE id=#{id}
		<!-- <where>
			<if test="helpId != null">
				id=#{id} OR helpId = #(SELECT id FROM tb_report WHERE id = #{id})
			</if>
			<if test="lifeId != null">
				id=#{id} OR lifeId = #(SELECT lifeId FROM tb_report WHERE id = #{id})
			</if>
			<if test="newsId != null">
				id=#{id} OR newsId = #(SELECT newsId FROM tb_report WHERE id = #{id})
			</if>
			<if test="questionId != null">
				id=#{id} OR questionId = #(SELECT questionId FROM tb_report WHERE id = #{id})
			</if>
		</where> -->
	</delete>
	
	<delete id="deleteByHelpId">
		DELETE FROM tb_report
		WHERE
		helpId = #{helpId}
	</delete>
	
		<delete id="deleteByLifeId">
		DELETE FROM tb_report
		WHERE
		lifeId = #{lifeId}
		</delete>
	
		<delete id="deleteByNewsId">
		DELETE FROM tb_report
		WHERE
		newsId = #{newsId}
		</delete>
	
		<delete id="deleteByQuestionId">
		DELETE FROM tb_report
		WHERE
		questionId = #{questionId}
		</delete>

</mapper>